CloudflareRailsRouter.configure do |config|
  # Your Rails app origin
  config.app_origin = "<%= @app_origin %>"
  
  # Your marketing site origin (Webflow, Framer, etc)
  config.marketing_origin = "<%= @marketing_origin %>"
  
  # Routing cookie settings
  config.cookie_name = "<%= @cookie_name %>"
  config.cookie_ttl = 30 * 60 # 30 minutes
  config.cookie_domain = "<%= @cookie_domain %>"
end